/* Footer */

.Footer {
    /* width: 100vw; */
    overflow-x: hidden;
    background: #1F1F1F;
    color: #fff;
}

.Footer-Top {
    padding: 1.5rem 5rem 1.5rem 6rem;
    display: flex;
    flex-direction: column;
}

.Footer-Top p {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.03em;
    margin: 0%;
    padding: 0.4rem 0;
}

.Footer-Top svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.footer-bottom {
    width: 100%;
    padding: 1rem 0rem;
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 0% !important;
}

.si {
    text-decoration: none !important;
    color: #fff;
}

.si:hover {
    color: #3f95ea;
}


.silogo {
    height: 1.1rem;
    margin-left: 0.6rem;
}

@media only screen and (max-width:480px) {

    .Footer-Top p {
        font-size: 0.7rem;
    }

    .Footer-Top {
        padding: 1rem;
    }

    .footer-bottom {
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
    }

    .silogo {
        height: 1rem;
    }
}