.App{
  font-family: 'Open Sans';
}

#navbar-white{
  background-color: white !important;
}

.navlinks-grey{
  color: #3F4A56;
  font-weight: 600;
}

#home{
  background-image: url('./assets/icons/right.svg');
  background-repeat: no-repeat;
  background-position: right; 
}

#bg-green{
  background: #1F842E;
  color: white;
}

.greytext{
  color: #3F4A56;
}

.green-heading{
  font-weight: 800 !important;
  color: #1F842E;
}

.bold-text{
  font-weight: 600;
}

.extra-bold-text{
  font-weight: 800;
}

.tdborder{
  border: 1px solid grey;
  width:50% !important;
}

.threecols{
  width:33.33% !important;
}

.borderbtm{
  border-bottom: 1px solid grey;
}

.snowidth{
  width: 5% !important;
  border: 1px solid grey;

}

.nametd{
  width: 35% !important;
  border: 1px solid grey;

}

.afftd{
  width: 55% !important;
  border: 1px solid grey;

}